#navbar {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    width: 100%;
    top: 0;
    background-color: rgb(239, 174, 174);
  }
  
  #navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  #navbar ul li {
    list-style: none;
    font-size: 1.20rem;
    margin: 0 10px; /* Adjust the gap between buttons */
  }
  
  #navbar ul li a {
    text-decoration: none;
    color: rgb(48, 20, 20);
    transition: all 0.4s ease-in-out;
  }
  
  #navbar ul li a:hover {
    text-decoration: underline; /* Underline text on hover */
    font-weight: bold; /* Bold text on hover */
  }
  
  #navbar ul li button {
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 20px;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(170, 255, 244, 0.342);
    transition: all 0.1s ease-in-out;
  }
  
  #navbar ul li button:hover {
    color: rgb(252, 248, 248);
    transform: scale(1.06);
    cursor: pointer;
  }
  