/* styles.css */
* {
    margin: 0;
    padding: 0;
}

.appy {
    background-color: rgba(28, 32, 31, 0.861);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form,
.register-form {
    color: white;
    width: 300px;
    margin: 20px;
    padding: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* input[type='text'],
input[type='password']{
    padding-right: 100px;
    height: 30px;
    margin-top: 10px;
    width: 200px;
} */
/* button {
    display: block;
    width: 303px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

/* button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
} */

/* button:hover {
    background-color: #0056b3;
} */